@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$night-blue: #4f4990;
$gray: #2d2d2d;
$light-gray: #373737;
$bold-blue: #0f1222;
$black: #191e3d;
$text: #d5d7f1;

.bg-back {
  background: radial-gradient(
    circle,
    rgba(6, 5, 28, 1) 0%,
    rgba(26, 15, 50, 1) 79%
  );
}

.bg-black {
  background-color: $black;
  color: $text;
}

.bg-back-light {
  background-color: $night-blue;
}

.bg-night {
  background-color: $night-blue;
}

.text-gray {
  color: $text;
}

.active-labels {
  color: $text;
  background-color: $night-blue;
}

.time-wrapper {
  height: 12rem;
  width: 12rem;
  color: $text;
  background: $black;
  font-size: 3.2rem;
  box-shadow: 1rem 1.5rem 2rem rgba(0, 0, 0, 0.6);
}

button {
  color: #efefef;
  font-size: 0.95rem;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 3rem;
  margin: 0.2rem;
  background: #0c0e1b;
  min-width: 80px;
  cursor: pointer;
}

.button-wrapper button.active {
  color: #0c0e1b;
  background-color: #c9ccea;
  border: 1px solid #0c0e1b;
}
.form-container {
  text-align: center;
}
.input-wrapper {
  margin: 1.5rem;
}
.input {
  color: $text;
  height: 90px;
  width: 90px;
  background-color: $night-blue;
  border: none;
  font-size: 22px;
}

.btn-level {
  width: 50px;
  height: 50px;
  padding: 0.5rem;
  color: #efefef;
  font-size: 1.3rem;
  border: none;
  margin: 0.2rem;
  background: $black;
  cursor: pointer;
}
